.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button-container {
  width: 164px;
  height: 36px;
}

@media screen and (max-width: 400px) {
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) {
}
