.header {
  padding: 2rem 4rem 1rem 4rem;
}

.cards {
  padding: 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: white;
  border-bottom: 2px solid black;
}

.card-overflow {
  margin-top: -100px;
  margin-bottom: 100px;
}
