<div class="container">
  <div class="header">
    <app-header />
  </div>

  <app-divider />
  <app-main-section />
  <app-social-brands />

  <div class="cards">
    <app-cards
      title="Women's Nike Shoes"
      price="59"
      imagePath="images/alcohol.jpeg"
    />

    <!-- <app-cards
      title="Women's Nike Shoes"
      price="59"
      imagePath="images/alcohol.jpeg"
    />

    <app-cards
      title="Women's Nike Shoes"
      price="59"
      imagePath="images/alcohol.jpeg"
    /> -->
  </div>
  <app-footer />
</div>
